@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
}
@font-face {
	font-family: 'Lexend';
	src: url('/fonts/Lexend-VariableFont_wght.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply scroll-pt-16;
}

html,
body {
	@apply h-full scroll-smooth text-slate-400 antialiased;
	font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

:root {
	--navbar-height: 4rem;
}

/* Customized DaisyUI components */
@layer components {
	.navbar {
		@apply min-h-[var(--navbar-height)] py-0;
	}

	.stat-title {
		@apply text-slate-400;
	}
}
