@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
}
@font-face {
	font-family: 'Lexend';
	src: url('/fonts/Lexend-VariableFont_wght.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply h-full;
}

html {
	@apply scroll-pt-16 scroll-smooth;
	font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

body {
	@apply antialiased;
}

/* Global CSS variables */
:root {
	--navbar-height: 4rem;
}

/* Customized DaisyUI components */
@layer components {
	.navbar {
		@apply min-h-[var(--navbar-height)] py-0;
	}

	.stat-title,
	.stat-desc {
		@apply text-slate-400;
	}
}
